/*Turn button into arrow shape*/
.arrow{
    -fx-shape: "M 400 300 L 400 250 L 400 200 L 450 200 L 500 200 L 550 200 L 600 200 L 600 250 L 600 300 L 550 300 L 500 300 L 450 300 L 400 300 L 400 350 L 400 400 L 150 250 L 400 100 L 400 200 ";
    -fx-background-color: red;
}

.arrowDice{
    -fx-shape: "M 350 200 L 450 200 L 450 350 L 550 350 L 400 450 L 250 350 L 350 350 L 350 200  ";
    -fx-background-color: red;
}

/* */
.activeHorse:hover {
    -fx-scale-y: 1.2;
    -fx-scale-x: 1.2;
}
/*!*---------style Button on pressed--------------*!*/
/*.activeHorse:pressed{*/
/*    -fx-scale-x:0.9;*/
/*    -fx-scale-y:0.9;*/
/*}*/
